__pycache__/
*.ipynb_checkpoints/
.vscode/
env/
neurofuzzy_toolbox_esp/
neuro_fuzzy_toolbox_old/
test_notebooks_old/
pendiente.txt
papers.md
tests/
docs/
consideraciones.md
old/
util.txt
dev_notebooks/
test_notebooks/
test_env/
