__pycache__/
*.ipynb_checkpoints/
.vscode/
env/
neurofuzzy_toolbox_esp/
EXP_neuro_fuzzy_toolbox/
test_notebooks_old/
pendiente.txt
tests/
consideraciones.md
old/
img/
dev_notebooks/
test_notebooks/
test_env/
util.txt
